@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Lobster');

table, tr, td {
    border: 4px solid black;
    padding: 5px;
}
table {
    border-spacing: 15px;
}

/* .background2{
    background-image: url(../img/sobre.png);
    background-size: cover;
} */

section{
    margin-top: 60px;
}

h1,h2{
    text-align: center;
}

h1{
    font-family: 'Bowlby One', cursive;
}

h2{
    font-family: 'Lobster', cursive;
}

